.searchContainer {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;

  .searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }

  .searchButton {
    position: absolute;
    top: 5px;
    right: 0;
    width: 20px;
    height: 20px;
    //transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.filterSearch {
  display: flex;
  flex-direction: row;
  gap: 7%;
}
.filterMenu {
  background-color: #bbbdbf;
  width: 20%;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 0px 10px 0px #ccc;
  padding: 30px;
  height: 600px;
}

.select {
  background-color: white;
}
.rangeContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.cardContainer {
  width: 60%;
  margin: 20px 0;
  border-radius: 10px;
}

.atts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attsinput {
  width: 100px;
}

.attlabel {
  width: 300px;
  border-bottom: 2px solid black;
}
