@import "../../App.scss";

.main-content {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.landingContainer {
  text-align: center;
  padding: 50px;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff; /* Белый фон */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0px 0px 20px 0px #ccc; /* Тень */
  margin: 20px;

  h1 {
    font-size: 2.5rem;
    color: $text-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
  }

  .lka {
    font-size: 1.2rem;
    color: #77bfa3;
    line-height: 1.6;
    cursor: pointer;
  }

  button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
  }

  button[type="submit"]:hover {
    background-color: $hover-color;
  }
}

.clinic-image {
  width: 100%;

  max-width: 600px;
  border-radius: 10px;
  margin: 20px 0;
  background-image: url("http://klublady.ru/uploads/posts/2022-07/thumbs/1658582446_18-klublady-ru-p-posokh-asklepiya-tatu-eskiz-foto-18.jpg");
  box-shadow: 0px 0px 10px 0px #ccc; /* Тень */
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 20px;
}

.service {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transform: translateY(-5px);
  }
  h2 {
    font-size: 1.8rem;
    color: $text-color;
    margin-bottom: 10px;
  }
  p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
  }
}

.footer {
  background-color: $background-color;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #f8f8f8;
  box-shadow: 0px 0px 10px 0px #444; /* Тень */
}

.decorativeLine {
  height: 2px;
  width: 100%;
  background-color: #555; /* Серый цвет линии */
  margin: 10px 0;
}

.footerInfo {
  display: flex;
  justify-content: space-around;
  margin: 12px;
  i {
    margin-right: 5px;
  }
  p {
    margin: 8px 0;
  }
}

.contactInfo,
.socialMedia {
  flex: 1;
  text-align: left;
}

.socialMedia {
  text-align: right;
}
