.AddCategoryContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.fieldName {
  padding: 10px;
}

.Title {
  text-align: center;
}
.OldAtts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fieldTypeContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
