@import "../../App.scss";

.orderTable {
  thead {
    border-bottom: 1px solid black;
    background-color: lightgray;
  }
  td {
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
  }
}
.status {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $text-color;
  width: 60%;
}
