@import "../../App.scss";

.orderTable {
  margin: 5px 0px;
  thead {
    border-bottom: 1px solid black;
    padding: 10px;
  }
  th {
    padding: 5px 40px;
    background-color: $text-color;
    color: white;
  }
  td {
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .centeredText {
    text-align: center;
  }
}
.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $text-color;
  width: 30px;
  height: 30px;
}
