@import "src/App.scss";

/* Header style */
.nav-wrapper {
  background-color: $text-color; /* Google Blue color, you can change it */
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Add padding for better spacing */

  .brand-logo {
    font-size: 2rem;
    color: #fff; /* White text color */
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  #nav-mobile {
    li {
      display: inline;
      margin-left: 20px;

      a {
        cursor: pointer;
        color: #fff; /* White text color */
        font-weight: normal;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: #e0e0e0; /* Light gray on hover */
        }
      }

      .disabledLink {
        pointer-events: none;
        cursor: default;
        color: #e0e0e0; /* Light gray on hover */
      }
    }
  }
}
