.CreateProductContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

button:disabled {
  background-color: lightgray;
  transition: 0.6s;
  cursor: default;
  box-shadow: none;
}
