$background-color: #fff; // Серый цвет фона
$text-color: #77bfa3; // Черный цвет текста
$hover-color: #aff6db; // Цвет текста при наведении
$logo-font-size: 2rem; // Размер шрифта логотипа
$link-font-size: 1rem; // Размер шрифта ссылок

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

input {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h3 {
  color: $text-color;
  border-bottom: 2px solid $text-color;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #77bfa3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"]:hover {
  background-color: $hover-color;
}

.page {
  display: flex;
  justify-content: space-around;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
